<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>calibrate_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>815</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>calibrate_button.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>851</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>cancel_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>779</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>cancel_button.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>37</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>loading.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>180</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>180</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>multiplayer_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>887</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>multiplayer_button.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>923</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>pause_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>349</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>pause_button.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>370</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>91</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>quit_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>563</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>quit_button.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>527</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>resume_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>599</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>resume_button.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>635</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>save_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>707</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>save_button.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>743</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>single_player_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>109</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>single_player_button.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>145</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>start_game_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>73</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>start_game_button.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>671</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>game_length.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>209</integer>
			<key>width</key>
			<integer>169</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>169</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>pause_menu.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>345</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>preferences.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>403</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>57</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>57</integer>
		</dict>
		<key>title.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>461</integer>
			<key>width</key>
			<integer>320</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>320</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>main_menu_background.png</key>
		<dict>
			<key>x</key>
			<integer>491</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>game_options.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>288</integer>
			<key>width</key>
			<integer>197</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>197</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>playing_angle.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>181</integer>
			<key>width</key>
			<integer>169</integer>
			<key>height</key>
			<integer>27</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>169</integer>
			<key>originalHeight</key>
			<integer>27</integer>
		</dict>
		<key>help_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>959</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>help_button.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>quit_confirmation_background.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>542</integer>
			<key>width</key>
			<integer>328</integer>
			<key>height</key>
			<integer>170</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>328</integer>
			<key>originalHeight</key>
			<integer>170</integer>
		</dict>
		<key>slider.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>217</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>slider_bar.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>250</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>250</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>hud.png</key>
		<dict>
			<key>x</key>
			<integer>491</integer>
			<key>y</key>
			<integer>643</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>large_target.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>ship_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>76</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>ship_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>121</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>44</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>44</integer>
		</dict>
		<key>small_target.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>35</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>40</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>fire_button.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>268</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>arrow.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>20</integer>
			<key>originalHeight</key>
			<integer>20</integer>
		</dict>
		<key>sub_menu_background.png</key>
		<dict>
			<key>x</key>
			<integer>491</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>main_menu_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>459</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>main_menu_button.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>493</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>replay_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>391</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>replay_button.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>425</integer>
			<key>width</key>
			<integer>158</integer>
			<key>height</key>
			<integer>33</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>starfield.png</key>
		<dict>
			<key>x</key>
			<integer>491</integer>
			<key>y</key>
			<integer>664</integer>
			<key>width</key>
			<integer>480</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>480</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>projectile.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>12</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>12</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>1_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>362</integer>
			<key>y</key>
			<integer>109</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>1_button.png</key>
		<dict>
			<key>x</key>
			<integer>363</integer>
			<key>y</key>
			<integer>71</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>2_button_selected.png</key>
		<dict>
			<key>x</key>
			<integer>363</integer>
			<key>y</key>
			<integer>35</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>2_button.png</key>
		<dict>
			<key>x</key>
			<integer>363</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>60</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
	</dict>
</dict>
</plist>